* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #c5ffb788;
}

::-moz-selection {
  background: #c5ffb788; /* Firefox */
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h1::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: black;
  display: block;
  position: relative;
  bottom: -10px;
}

h1::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: black;
  display: block;
}

.about-us p::first-line {
  color: red;
  font-size: 30px;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

body {
  background-color: rgb(144, 218, 255);
}

header {
  background-color: rgb(77, 130, 245);
  border: 1px solid black;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: right;
  align-items: center;
  box-sizing: border-box;
  padding: 0 2rem;
}

nav {
  width: 45%;
  margin: auto;
  color: white;
}

main {
  padding-top: 3rem;
  margin-top: -3rem;
  background-color: rgb(57, 209, 248);
  width: 60%;
  margin: auto;
}

nav li {
  display: inline-block;
  margin-left: 2.25rem;
  height: 3rem;
}

nav li:first-child {
  margin-left: 0;
}

a {
  font-size: 1.75rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
  line-height: 48px;
}

nav li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav li:hover a {
  color: gold;
}

nav li:active {
  background-color: rgba(0, 0, 0, 0.5);
}

nav a:focus {
  background-color: rgb(156, 14, 14);
}

nav li:nth-child(2n + 1) {
  background-color: blue;
}

section {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 3rem;
  border: 1px solid black;
}

.about-list {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 20% 1fr 10%;
  grid-gap: 3rem;
}

.our-company figure {
  position: relative;
  left: 60%;
  display: inline-block;
  height: 200px;
}

.our-company figcaption {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  font-size: 1.5rem;
  line-height: 2rem;
}

input::placeholder {
  color: red;
}

input:required {
  border: 10px solid rgb(13, 104, 19);
}

input:invalid {
  border: 10px solid rgb(194, 22, 22);
}

input:focus {
  outline: none;
}

/*burger*/

.burger-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger {
  position: relative;
  border: 0;
  outline: none;
  display: none;
  height: 3px;
  width: 50px;
  background-color: white;
  cursor: pointer;
  z-index: 100;
}

.burger::before {
  content: "";
  height: 3px;
  width: 50px;
  position: absolute;
  background-color: white;
  left: 0;
  top: -10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}

.burger::after {
  content: "";
  height: 3px;
  width: 50px;
  position: absolute;
  background-color: white;
  left: 0;
  top: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}

.burger.active {
  height: 0;
}

.burger.active::before {
  transform: rotate(-45deg);
  top: 0;
}

.burger.active::after {
  transform: rotate(45deg);
  top: 0;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  nav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: blue;
    width: 80%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    width: 50%;
    margin-left: 0;
  }

  nav.active {
    transform: translateX(0);
  }

  body.active {
    overflow: hidden;
  }
}
